<template>
  <section class="bg-white">
    <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
      <aside
          class="relative block h-16 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6"
      >
        <img
            alt="Pattern"
            src="https://images.unsplash.com/photo-1605106702734-205df224ecce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            class="absolute inset-0 h-full w-full object-cover"
        />
      </aside>

      <main
          class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
      >
        <div class="max-w-xl lg:max-w-3xl">
          <a class="block" href="/">
            <span class="underline">Go Home</span>
          </a>
          <form @submit.prevent="register" class="mt-8 grid grid-cols-6 gap-6">
            <div class="col-span-6">
              <label for="Email" class="block text-sm font-medium text-gray-700">
                Email
              </label>

              <input
                  type="email"
                  id="Email"
                  name="email"
                  class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
                  v-model="email"
              />
            </div>

            <div class="col-span-6">
              <label
                  for="Password"
                  class="inline-block flex text-sm font-medium text-gray-700"
              >
                Password

                <span class="text-gray-400 mx-2"
                      @click="showPassword = !showPassword"
                >
                      <EyeClosedIcon v-if="!showPassword"/>
                      <EyeOpenIcon v-if="showPassword"/>
                </span>
              </label>
              <div>
                <input
                    id="Password"
                    name="password"
                    class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
                    :type="showPassword ? 'text' : 'password'"
                    v-model="password"
                />
              </div>
            </div>
            <div class="col-span-6">
              <label
                  for="conf_password"
                  class="block text-sm font-medium text-gray-700"
              >
                Confirm Password
              </label>

              <input
                  :type="showPassword ? 'text' : 'password'"
                  id="conf_password"
                  name="password"
                  class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
                  v-model="confirm_password"

              />
            </div>

            <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
              <button
                  class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
                  type="submit"
                  @click="register"
              >
                Create an account
              </button>

              <p class="mt-4 text-sm text-gray-500 sm:mt-0">
                Already have an account?
                <a href="/login" class="text-gray-700 underline">Log in</a>.
              </p>
            </div>
            <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
              {{message}}
            </div>
          </form>
        </div>
      </main>
    </div>
  </section>
</template>

<script setup>
import {useAuth} from "@/composables/useAuth";
import {ref} from "vue";
import router from "@/router";
import EyeClosedIcon from "@/components/icons/EyeClosedIcon.vue";
import EyeOpenIcon from "@/components/icons/EyeOpenIcon.vue";

const {handleRegister} = useAuth();
const email = ref("")
const password = ref("")
const confirm_password = ref("")
const message = ref()
const showPassword = ref(false)

const isValidPassword = (password) => {
  const minLength = password.length >= 8;
  const hasNumber = /\d/.test(password);
  const hasUpper = /[A-Z]/.test(password);
  const hasLower = /[a-z]/.test(password);
  const hasSpecial = /[!@#$%^&*(),.?":{}|<>-]/.test(password);

  return minLength && hasNumber && hasUpper && hasLower && hasSpecial;
};


const register = async () => {
  if (password.value !== confirm_password.value) {
    message.value = 'Passwords do not match';
    console.log(message.value)
    return;
  }

  if (!isValidPassword(password.value)) {
    message.value = '' +
        'Password does not meet the criteria:\n' +
        '- 1 special character\n' +
        '- 1 uppercase character\n' +
        '- 1 lowercase character\n' +
        '- 1 number character\n' +
        '- 8 lenght';
    console.log(message.value)
    return;
  }

  const payload = {
    email: email.value,
    password: password.value,
    confirmpassword: confirm_password.value,
    level: 1,
    roleID: 2,
  }

  const response = await handleRegister(payload)
  message.value = 'Registration successful!';
  if (response.message) {
    message.value = response.message
  }
  if (response.message === "User created"){
    router.push({path: '/'});
  }
}
</script>

<style scoped>

</style>